# This file contains all those files that will not make it to the repository.

# Copied this from https://github.com/hexlet-boilerplates/python-package/blob/main/.gitignore
*.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
.nano

