# This file contains ignored files, which will not make it into the repository.
# Copied this from https://github.com/hexlet-boilerplates/python-package/blob/main/.gitignore


*.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
.nano

